*{
    margin: 0;
    padding: 0;
}

.span1{
    padding-left:5px;
    margin-top: -5px;
    color: gray;
    width: 150px;
}
.div4{
    font-weight: 700;
    color: rgb(87,92,97);
}
.button1{
    height: 50px;
    width: 140px;
    border-radius: 5px;
    border: none;
    /* margin-top: 5px; */
    font-size: 17px;
    background-color: rgba(212, 177, 177, 0.253);
}
.button1:hover{
    background-color: lightblue;
}

.A1{
    font-size: 17px;
    text-decoration: none;
    color: black;
    padding-top: 10px;
}
.A1:hover{
    text-decoration:underline;
}
.item{
    font-size: 18px;
    text-decoration: none;
    color: rgb(43, 40, 40);
}
.item:hover{
    color: teal;
}
.h12{
    font-size:larger ;
    font-weight: bolder;
    margin-left: 110px;
}
.h13{

    margin-right: 90px;
}
.searchbox{
    margin-right: 300px;
    border-radius: 25px;
    padding: 15px;
    width: 700px;
    border: 1px solid gray;
    font-size: 20px;
}
.searchbox:hover{
    font-weight: bold;
}
.button2{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    margin-left: -405px;
    font-size: 19px; 
    background-color: teal; 
    color: white;
    border: none;
}
.button2:hover{
    background-color:darkslategray;
}
.data1{
    /* border: 1px solid pink; */
    display: grid  ;
    grid-template-columns: repeat(7,1fr);
    height: 200px;
    width: 89%;
    margin-left: 5%;
    gap: 15px;
}

.info > img{
    height: 130px;
    width: fit-content;
}
.info > h4 {
    text-align: center;
    padding-top: 5px;
    text-decoration:none;
    color: black;
}
.data1 > a{
    text-decoration: none;
}
.info > h5 {
    text-align: center;
    color: red;
    padding: 5px;
}
.info:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hr2{
    
    margin: auto;
    margin-top: -4px;
    width: 140px;
    color: gray;
    
}

.orderbox{
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}
.orderDiv{
    border: 1px solid black;
    height:200px;
}
.orderDiv1{
    background-color: rgb(238,244,255);
    height:170px;
    width: 500px;
    
}
.orderinfo{
    display: flex;
}
.orderinfo > img{
    padding: 20px;

}
.orderinfo > h4{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}
.orderDiv1 > p{
    margin-left: 110px;
   margin-top: -20px;
}
.orderDiv1 > button{
    margin-left: 110px;
    margin-top: 9px;
    height: 40px;
    width: 90px;
    font-size: 16px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
}
.orderDiv2{
    width: 390px;
    margin-left: 20px;
}
.orderDiv2 > p{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(112, 107, 107);

}
.boxes{
    height: 30px;
    width: 30px;
    border: none;
    background-color: lightblue;
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: bold;
}
.orderDivbuttons1{
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 20px;


}
.orderDivbuttons1 > p{
    font-size: 18px;
}
.Para{
    margin-left: 20px;
}
.orderDiv3{
    width: 320px;
    margin-top: 40px;
   
}


